@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}



.rightSection img{
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}


.leftSection a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: glegoo, serif;
}
.leftSection a:hover{
    border-bottom: green color 5px;
    border-width: 2px;
}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: glegoo, serif;
    gap: 0.78rem;
    margin-bottom: 200px;
}
.upContent{
    padding: 0.75rem;
    background-color: aquamarine;
    border-radius: 0.7rem;
    padding: 0.45rem;
    display: flex;
    font-family: glegoo;
    flex-direction: column;
    gap: 0.45rem;
    background-color: lightgray;
}

header{
    padding: 0.27rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(8, 8, 247);
    color: white;
}


.rightSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.mainContent{
    display: flex;
    flex-direction: row;
    font-family: glegoo;
    justify-content: space-between;
    gap: 0.5rem;
}
.leftMain{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 0.75rem;
    flex: 1;
}


.leftSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0.3rem;
}

.leftMain img{
    width: 100%;
    height: 100px;
}
.mainTexts
{
    padding: 0.95rem 0.65rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: glegoo, serif;
}
ol{
    display: flex;
    list-style-type: lower-roman;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 1.45rem;
}


.rightMain{
    display: flex;
    border-radius: 0.75rem;
    flex-direction: column;
    gap: 1.5rem;
    flex: 2;
    font-family: glegoo, serif;
    padding: 0.45rem;
    background-color: lightpink;
    height: 75vh;   
}

.rightMain ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: circle;
    font-family: glegoo, serif;
    overflow: scroll;
}

footer hr{
    width: 100%;
}
footer form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: glegoo, serif;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 0.65rem;
    color: white;
    background-color: rgb(0, 0, 0);
}



